
.profile{
    width: 20em; 
    height: 15em;  
    flex-direction: column;
    align-items: center;
    justify-content: center ;  
}
.profile>img{
    width: 7em;
    height: 7em;
    border: 2px solid var(--border-self);
    border-radius: 50em; 
    margin-bottom: 0.5em; 
}
.profile>h1{
    font-size: 24px;
    font-weight: bold;
    margin: 0.5em;

}
.profile>p{
    font-size: 12px;
    font-weight: bold;
}

.social{
    width: 20em;
    height: 18.2em;
    flex-direction: column; 
    justify-content: center;
}
.social>div{
    padding: 0em 0.5em 0.7em 2em;
    align-items: center;
    justify-content: center;
}

.social>div>img, a{
    vertical-align: middle;
    font-size: 12px;
}
.social>div>a{
    padding-left: 0.5em;
}

.tecs{
    width: 20em;
    height: 8em;
    flex-direction: column;

}
.tecs>h1, .exp>h1, .education>h1{
    font-size: 24px;
    font-weight: bold;
    padding: 1em;
}
.rowTecs{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.containerTecs{
    width: 5em;
    height: 1.6em;
    margin-top: 0.4em;
    background-color: var(--bg-techs);
    border-radius: 1em;
    text-align: center;
}

.containerTecs>h2{
    color: black;
    font-size: 12px;
    font-weight: bold;
    margin-top: 0.5em;
}
.exp{
    width: 20em;
    height: 10em;
    flex-direction: column;
}
.education{
    width: 20em;
    height: 13em;
    flex-direction: column;
}
.exp>div>ul, .education>div>ul{
    padding: 0.4em 1.5em 0.4em  ;
    margin-top: 1em;
    margin-left: 4em;
    font-weight: bold;
    font-size: 12px;
    border-radius: 10em ;
}