@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300;400;500;700&display=swap');

:root{
    --body-bg-color: #22212C;
    --green: #459268;
    --border-self: #00FF00;
}
*{
    color: var(--green);
}
body{
    background-color: var(--body-bg-color);
    font-family: Merriweather Sans;
    font-weight: 400, 500 e 700;
    display: grid;
    grid-template-areas: 
    "aside main main"
    ;
    grid-template-columns: 22em 1fr;
    
}

section{
    border-radius: 1em;
    margin: 1.8em 2em ;
    display: flex;
    border: var(--box-shadow);
    box-shadow: -0.16em -0.16em var(--green), 0.16em 0.16em var(--green);

}



