@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300;400;500;700&display=swap');

:root{
    --body-bg-color: #22212C;
    --text-color: #837E9F;
    --bg-cards: #302F3D;
    --bg-techs: #CB92B1;
    --box-shadow:#1b1b28;
    --border-self: #00FF00;
}
*{
    color: var(--text-color);

}
body{
    background-color: var(--body-bg-color);
    font-family: Merriweather Sans;
    font-weight: 400, 500 e 700;
    display: grid;
    grid-template-areas: 
    "aside main main"
    ;
    grid-template-columns: 22em 1fr;
    
}

section{
    background-color: var(--bg-cards);
    border-radius: 1em;
    margin: 1.8em 2em ;
    display: flex;
    box-shadow: 0.16em 0.16em var(--box-shadow);

}
