.contentTitle{
    height: 4em;
    justify-content: space-between;
    align-items: center;
}
.contentTitle>h1{
    padding-left: 1em;
    font-size: 20px;
    font-weight: bold;
}
.contentTitle>a{
    padding-right: 1em;
    font-weight: bold;
}
.contentProjects{
    flex-direction: row;
    box-shadow: none;
    justify-content: space-between;
}
.contentProjects>div{
    width: 48.6%;
    height: 10em;
    box-shadow: -0.16em -0.16em var(--green), 0.16em 0.16em var(--green);
    border-radius: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contentProjects>div>div{
    height: 3em;
    padding: 0.5em 2em 0em 2em;
    display: flex;
    align-items: center;    
}
.post{
    height: 13em;
    align-items: center;
}
.post>div{
    display: flex;
    flex-direction: row;
}
.post>div>div>img{
    justify-items: center;
    align-items: center;
    margin: 2em 2em;
    width: 7em;
    height: 7em;
    border-radius: 50em;  
}
.contentPost>h1{
    font-size: 24px;
    margin: 1em 0em 0em 0em ;
}
.contentPost>p{
    font-size: 10px;
    
    margin: 0em 0em 1em 0em;
}
.contentPost>h2{
    font-size: 14px;
    text-align: justify;
    margin: 0em 3em 1em 0em;
}
.contentPost>div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 30em ;
    margin: 1em 0em;
}
