.contentTitle{
    height: 4em;
    justify-content: space-between;
    align-items: center;
}
.contentTitle>h1{
    padding-left: 1em;
    font-size: 20px;
    font-weight: bold;
}
.contentTitle>a{
    padding-right: 1em;
    font-weight: bold;
}
.contentProjects{
    flex-direction: row;
    background-color: var( --body-bg-color);
    box-shadow: none;
    justify-content: space-between;

}
.contentProjects>div{
    box-shadow: 0.16em 0.16em var(--box-shadow);
    background-color: var(--bg-cards);
    border-radius: 1em;
    width: 48.6%;
}
.contentProjects>div>div{
    height: 3em;
    padding: 0.5em 2em 0em 2em;
    display: flex;
    align-items: center;    
}

.imgProject{
    width: 1.2em;
    margin: 0.4em;
}
.contentProjects>div>p{
    text-align: justify;
    font-size: 12px;
    margin: 0em 3em 0em 3em;
}
.branchIcons{
    display: flex;
}
.branchIcons>p{
    vertical-align: bottom;
    margin: 0.2em 0.7em 0em 0.5em;
}
.containerBranch{
    justify-content: space-between;
    font-size: 12px;

}
.containerBranch>div>img{
    margin: 0em 0em 0.2em 0.8em;
}
.post{
    height: 11.6em;
    align-items: center;
}
.post>div{
    display: flex;
    flex-direction: row;
}
.post>div>div>img{
    margin: 0em 2em;
    width: 7em;
    height: 7em;
    border-radius: 50em;  
}
.contentPost>h1{
    font-size: 24px;
    margin: 0.3em 0em ;
}
.contentPost>p{
    font-size: 12px;
    margin: 0em 0em 1em 0em;
}
.contentPost>div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 30em ;
    margin: 1em 0em;
}